<main class='content container'>
  <ul>
    <li><%= render @user %></li>
    <li><%= render 'bio', user: @user %></li>
    <% @user.recent_posts.each do |post| %>
      <li><%= render post %></li>
    <% end %>
  </ul>
  <div class="text-center d-flex justify-content-around">
    <%= link_to "Home", users_path %>
    <%= link_to 'See all posts', user_posts_path(@user)' %>
  </div>
</main>