<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="d-flex flex-row">
<div class="m-3 w-20">
<img src="<%= @user.photo %>">
</div>
<div class="border border-dark w-75 m-3">
  <h1><%= @user.name %></h1>
  <p>Number of Posts: <%= @user.posts.count %></p>
</div>
</div>
<div class="border border-dark w-75 m-3">
  <h1>Bio</h1>
  <p><%= @user.bio %></p>
</div>
<div class="border border-dark w-75 m-3">
  <ul class="list-unstyled">
    <% @user.recent_posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <%= link_to "See All Posts", user_posts_path(@user), class: "btn btn-primary" %>
</div>
</body>
</html>
