<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="d-flex flex-row">
<div class="m-3 w-20">
<img src="<%= @user.photo %>">
</div>
<div class="border border-dark w-75 m-3">
  <h1><%= @user.name %></h1>
  <p>Number of Posts: <%= @user.posts.count %></p>
</div>
</div>
<ul class="post-list">
<% @posts.each do |post| %>
  <li class="border border-dark w-75 m-3 list-unstyled">
    <%= link_to post.title, user_post_path(@user, post) %>
    <p><%= post.created_at.strftime('%B %d, %Y') %></p>
    <p><%= post.text %></p>
    <span>Comments: <%= post.comments.count %></span>
    <span>Likes: <%= post.likes.count %></span>
    <% post.recent_comments.each do |comment| %>
      <li class="w-75 m-3 list-unstyled">
      <div class="field">
      <h3>recent_comments:</h3>
        <%= comment.text %> <!-- Use the correct attribute name for comment text -->
      </div>
      </li>    
    <% end %>
  </li>
<% end %>

</ul>


  <div class="btn-div">
    <%= link_to "Home", users_path %>
    <%= link_to "Pagination", user_path(@user) %>  
  </div>
</body>
</html>
