<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/posts.css">
</head>
<body>
  <h1>All Posts</h1>
  <ul class="post-list">
    <li><%= render @user %></li>
    <% @posts.each do |post| %>
      <li><%= render post %></li>
      <% post.recent_comments.each do |comment| %>
        <li><%= render 'comment', comment: comment %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="btn-div">
    <%= link_to "Home", users_path %>
    
    <%= link_to "Pagination", user_path(@user) %>  
  </div>
</body>
</html>
