<%= form_for([current_user, @post]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Post' %>
    </div>
  <% end %>
  