<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/posts.css">
</head>
<body>
  <h1>Post Details</h1>
  <div class="post-details">
    <h2><%= @post.title %></h2>
    <p class="post-info">Author: <%= @post.author.name %></p>
    <p class="post-info">Created At: <%= @post.created_at.strftime('%B %d, %Y') %></p>
    <p class="post-text"><%= @post.text %></p>
    		
    <span>Comments: <%= @post.comments_counter %></span>
    <span>Likes: <%= @post.likes_counter %></span>
  </div>
</body>
</html>
